.container-model {
    background-color: blue;
    color: white;
    height: 350px;
    width: 100%;
    // display: none;

    .containerInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 4rem;
        background-color: black;
        height: 100%;
        width: 50%;
        row-gap: 1.5em;

        h3 {
            font-size: 3rem;
        }

        .rating {
            color: green;
            font-size: 1.5rem;
        }

        p {
            font-size: 1.5rem;

        }

        .paraDescription {
            color: rgba(255, 255, 255, 0.427);
        }

        #buttonPlay {
            color: white;
            background-color: red;
            border: 1px solid red;
            border-radius: 2px;
            margin-right: 10px;
            padding: 7px 15px;
        }

        #buttonPlus {
            color: white;
            background-color: black;
            border: 1px solid rgba(255, 255, 255, 0.427);
            border-radius: 2px;
            padding: 7px 15px;
        }

        .fas {
            padding-right: 6px;
        }

        

    }

}

